<div class="main-sec inner-page">
  <!-- //header -->
  <header class="py-sm-3 pt-3 pb-2" id="home">
    <div class="container">
      <!-- nav -->
      <div class="top-w3pvt d-flex">
        <div id="logo">
          <h1> <a href="index.html"><span class="log-w3pvt">B</span>aggage</a> <label class="sub-des">Online Store</label></h1>
        </div>


      </div>
      <div class="nav-top-wthree">
        <nav>
          <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
          <input type="checkbox" id="drop" />
          <ul class="menu">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About Us</a></li>
            <li>
              <!-- First Tier Drop Down -->
              <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
              </label>
            </li>

            <li class="active"><a [routerLink]="['/products']">ProDuct</a></li>
            <li><a  [routerLink]="['/service']">Service</a></li>
          </ul>
        </nav>
        <!-- //nav -->
        <div class="search-form ml-auto">
          <div class="form-w3layouts-grid">
            <form action="#" method="post" class="newsletter">
              <input class="search" type="search" placeholder="Search here..." required="">
              <button class="form-control btn" value=""><span class="fa fa-search"></span></button>

            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </header>
  <!-- //header -->
</div>
<div class="banner-wthree-info container">
  <div class="row">
    <div class="col-lg-5 banner-left-info">
      <h3>The Largest Range <span>of HandBags</span></h3>
      <a href="shop.html" class="btn shop">Shop Now</a>
    </div>

    <div class="col-lg-7 banner-img">
      <img src="https://i.imgur.com/j3X4my3.png" alt="part image" class="img-fluid">
    </div>
  </div>
</div>
<section class="banner-bottom py-5">
  <div class="container py-md-3">
    <div class="row grids-wthree-info text-center">
      <div class="col-lg-4 ab-content">
        <div class="ab-info-con">
          <h4>Fast &amp; Free Delivery</h4>
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
        </div>
      </div>
      <div class="col-lg-4 ab-content">
        <div class="ab-info-con">
          <h4>Safe &amp; Secure Payments</h4>
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
        </div>
      </div>
      <div class="col-lg-4 ab-content">
        <div class="ab-info-con">
          <h4>100% Money Back Guarantee</h4>
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="collections">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ab-content-img">

      </div>
      <div class="col-md-4 ab-content text-center p-lg-5 p-3 my-lg-5">
        <h4>Travel Must Haves</h4>
        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
        <a href="" class="btn shop mt-3">Shop Now</a>

      </div>
    </div>
  </div>
</section>
<section class="banner-bottom py-5">
  <div class="container py-md-5">

    <h3 class="title-wthree mb-lg-5 mb-4 text-center">Safety Meets Style </h3>
    <div class="row text-center">


      <div class="col-md-4 content-gd-wthree">
        <img src="https://i.imgur.com/XRuVK2H.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-4 content-gd-wthree ab-content py-lg-5 my-lg-5">
        <h4>Need Extra Space ?</h4>
        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
        <a href="" class="btn shop mt-3">Shop Now</a>

      </div>
      <div class="col-md-4 content-gd-wthree">
        <img src="https://i.imgur.com/Q7yFnaq.jpg" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section>
<section class="banner-bottom py-5">
  <div class="container py-md-5">


    <div class="row">
      <div class="col-lg-4 gallery-content-info text-center mt-lg-5">
        <h3 class="title-wthree mb-lg-5 mb-4">Trending Now </h3>
        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
        <a href="shop.html" class="btn shop mt-3">Shop Now</a>

      </div>
      <div class="col-lg-8 gallery-content">
        <div class="row">
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal1"><img src="https://i.imgur.com/9RCLVrZ.jpg" alt="Baggage" class="img-fluid mt-4"></a>
          </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal2"><img src="https://i.imgur.com/bE2oNsY.jpg" alt="Baggage" class="img-fluid mt-4"></a>
          </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="https://i.imgur.com/33FkmFF.jpg" alt="Baggage" class="img-fluid mt-4"></a>
          </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal1"><img src="https://i.imgur.com/ddYqdep.jpg" alt="Baggage" class="img-fluid mt-4"></a>
          </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal2"><img src="https://i.imgur.com/0Az2c94.jpg" alt="Baggage" class="img-fluid mt-4"></a>
          </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="https://i.imgur.com/obIeGY0.jpg" alt="Baggage" class="img-fluid mt-4"></a>
          </div>

        </div>
        <!-- gallery popups -->
        <!-- popup-->
        <div id="gal1" class="popup-effect">
          <div class="popup">
            <img src="../assets/images/g1.jpg" alt="Popup image" class="img-fluid mt-4">
            <a class="close" href="#gallery">×</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="popup-effect">
          <div class="popup">
            <img src="images/g2.jpg" alt="Popup image" class="img-fluid mt-4">
            <a class="close" href="#gallery">×</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="popup-effect">
          <div class="popup">
            <img src="images/g3.jpg" alt="Popup image" class="img-fluid mt-4">
            <a class="close" href="#gallery">×</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- //gallery popups -->

      </div>
    </div>

  </div>
</section>
<section class="shipping-wthree">
  <div class="shiopping-grids d-lg-flex">
    <div class="col-lg-4 shiopping-w3pvt-gd text-center">
      <div class="icon-gd"><span class="fa fa-truck" aria-hidden="true"></span>
      </div>
      <div class="icon-gd-info">
        <h3>FREE SHIPPING</h3>
        <p>On all order over $2000</p>
      </div>
    </div>
    <div class="col-lg-4 shiopping-w3pvt-gd sec text-center">
      <div class="icon-gd"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
      <div class="icon-gd-info">
        <h3>FREE RETURN</h3>
        <p>On 1st exchange in 30 days</p>
      </div>
    </div>
    <div class="col-lg-4 shiopping-w3pvt-gd text-center">
      <div class="icon-gd"> <span class="fa fa-gift" aria-hidden="true"></span></div>
      <div class="icon-gd-info">
        <h3>MEMBER DISCOUNT</h3>
        <p>Register &amp; save up to $29%</p>
      </div>

    </div>
  </div>

</section>

<div class="cpy-right text-center py-3">
  <p>© 2019 Baggage. All rights reserved | Design by
    <a href="http://w3layouts.com"> W3layouts.</a>
  </p>

</div>
