<div class="main-sec inner-page">
  <!-- //header -->
  <header class="py-sm-3 pt-3 pb-2" id="home">
    <div class="container">
      <!-- nav -->
      <div class="top-w3pvt d-flex">
        <div id="logo">
          <h1> <a href="index.html"><span class="log-w3pvt">B</span>aggage</a> <label class="sub-des">Online Store</label></h1>
        </div>


      </div>
      <div class="nav-top-wthree">
        <nav>
          <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
          <input type="checkbox" id="drop" />
          <ul class="menu">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About Us</a></li>
            <li>
              <!-- First Tier Drop Down -->
              <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
              </label>
            </li>

            <li class="active"><a [routerLink]="['/products']">ProDuct</a></li>
            <li><a  [routerLink]="['/service']">Service</a></li>
          </ul>
        </nav>
        <!-- //nav -->
        <div class="search-form ml-auto">
          <div class="form-w3layouts-grid">
            <form action="#" method="post" class="newsletter">
              <input class="search" type="search" placeholder="Search here..." required="">
              <button class="form-control btn" value=""><span class="fa fa-search"></span></button>

            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </header>
  <!-- //header -->
</div>
<div class="banner-wthree-info container">
  <div class="row">
    <div class="col-lg-5 banner-left-info">
      <h3>The Largest Range <span>of HandBags</span></h3>
      <a href="shop.html" class="btn shop">Shop Now</a>
    </div>

    <div class="col-lg-7 banner-img">
      <img src="../assets/images/bag.png" alt="part image" class="img-fluid">
    </div>
  </div>
</div>
