<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <h2>Edit Product</h2>
        <form *ngIf="product">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="product.name">
          </div>
          <div class="form-group">
            <label for="">Price</label>
            <input type="number" class="form-control" name="price" [(ngModel)]="product.price">
          </div>
          <div class="form-group">
            <label for="">IMG</label>
            <img src="{{product.img}}" width="150px" alt="">
            <input type="text" class="form-control" name="price" [(ngModel)]="product.img">
          </div>
          <div class="form-group">
            <label for="">Price</label>
            <textarea class="form-control" name="desc" [(ngModel)]="product.desc"> </textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="editProduct()">Submit</button>
        </form>

      </div>
    </div>
  </section>
</section>
