<!-- <div class="card h-100">
    <a href="#"><img class="card-img-top" src="{{product.img}}" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{product.name}}</a>
      </h4>
      <h5>${{product.price}}</h5>
      <p class="card-text">{{product.desc}}!</p>
      <p>{{product.status? 'Còn Hàng':'Hết Hàng'}}</p>
    </div>
    <div class="card-footer">
     <button class="btn btn-primary"  (click)="changeStatus($event)" >Thay đổi trạng thái</button>
     <input type="text" (keyup)="handleKeyUp($event)" class="form-control mt-3" placeholder="Thay dổi tên">
     <input type="text" (keyup)="changeDesc($event)" class="form-control mt-3" placeholder="Thay đổi nội dung">
    </div>
  </div> -->
