<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="table-agile-info">
          <div class="panel panel-default">
            <div class="panel-heading">
              Basic table

            </div>
            <div>
              <table   class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                <thead>
                <tr>
                  <th data-breakpoints="xs">ID</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th data-breakpoints="xs">Desc</th>
                  <th>img</th>

                  <th data-breakpoints="xs sm md" data-title="DOB"> <a [routerLink]="['/admin/products/create']">Add Product</a></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize" data-expanded="true">
                  <td>{{product.id}}</td>
                  <td><a [routerLink]="['/admin/products/detail/', product.id]">{{product.name}}</a></td>
                  <td>${{product.price}}</td>
                  <td>{{product.desc}}</td>
                  <td><img src="{{product.img}}" width="150px" alt=""></td>
                  <td>
                    <button class="btn btn-primary" (click)="removeProduct(product.id)">
                      remove
                    </button>

                    <a class="btn btn-primary" [routerLink]="['/admin/products/edit/', product.id]">Edit</a>
                  </td>

                </tr>
                </tbody>
              </table>
              <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="products.length">

              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <ngb-pagination-->
<!--      [(page)]="page"-->
<!--      [pageSize]="pageSize"-->
<!--      [collectionSize]="products.length">-->

<!--    </ngb-pagination>-->
  </section>
  <!-- footer -->

  <!-- / footer -->
</section>
